<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @greeting %></h1>
<p>
  Приложение на heroku https://resume-tarasov.herokuapp.com/profiles/1

  Проект на github https://github.com/SSmitt/my_resume
</p>
</body>
</html>