<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @greeting %></h1>
<p>
  Приложение на heroku https://resume-tarasov.herokuapp.com/profiles/2 <br>
  Проект на github https://github.com/SSmitt/my_resume <br>
  Опыт работы. <br>
  Декабрь 2019 — май 2020. Электромонтер связи. Связьтранснефть, ОАО <br>
  Октябрь 2017 — апрель 2018. Инженер-лаборант. Уфимский государственный авиационный технический университет.
</p>
</body>
</html>